<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attribute.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @attribute.key %>
</p>

<p>
  <strong>Compare:</strong>
  <%= @attribute.compare %>
</p>

<p>
  <strong>Format:</strong>
  <%= @attribute.format %>
</p>

<p>
  <strong>Sortable:</strong>
  <%= @attribute.sortable %>
</p>

<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
