<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @attributes.each do |attribute| %>
    <div class="field">
      <label><%= attribute.name  %></label>
      <input type='text' name="item_attributes[<%= attribute.key -%>]" value="<%= @item.item_attributes[attribute.key] -%>" />
    </div>
  <% end -%>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
